body {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-left: 0px;
}

header {
  width: 100%;
  max-width: 100%;
  height: 65px;
  background-color: #7a7a7a;
}

header .headercontainer {
  width: 100%;
  max-width: 68.75%;
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 91.3vh;
  background-color: #70c1ff;
  background-size: cover;
  padding-top: 20px;
}

.intro .container {
  width: 100%;
  max-width: 20%;
  margin: 0 auto;
  background-color: #e0e0e0;
  border-radius: 15px;
  height: 100%;
  max-height: 50%;
  margin-top: 22vh;
}

.intro .container .input_info {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.intro .container .input_info input {
  float: left;
  display: grid;
  width: 345px;
  height: 50px;
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 10px 10px 10px 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.intro .container .input_fields {
  width: 400px;
  height: 100px;
}

.intro .container button.btn {
  font-size: 15px;
  border: none;
  margin: 200px auto;
  width: 12rem;
  height: 4rem;
  display: block; /* Строчно-блочный элемент */
  background: #70c1ff; /* Серый цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 10px; /* Скругляем уголки */
}
